@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.inner {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-self: center;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Escoredream";
  font-weight: 300;
  color: #333333;
}

/* 공통 부분 */
#space {
  letter-spacing: 60px;
}

.title {
  position: relative;
}
.title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
}
.title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -25px;
  display: block;
  width: 50px;
  height: 50px;
  background: url(/image/title-point.png);
  z-index: 0;
}

.mobile-nav {
  display: none;
}

.header {
  width: 100%;
  height: 115px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #646464;
  background: #FFFFFF;
  z-index: 500;
}
.header .header-inner {
  width: 1440px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-inner .nav {
  height: 114px;
  display: flex;
  gap: 25px;
}
.header .header-inner .nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #646464;
  flex: 1;
  text-align: center;
  line-height: 115px;
  height: inherit;
  display: block;
  padding: 0px 20px;
  border-inline: 2px solid #646464;
  transition: 0.3s;
}
.header .header-inner .nav a:first-child {
  padding: 0px 40px;
}
.header .header-inner .nav a:hover {
  background: #FD5087;
  color: #FFFFFF;
}

.main-visual {
  border-bottom: 2px solid #646464;
  padding-top: 90px;
}
.main-visual .logo-box {
  display: flex;
  position: relative;
  align-items: center;
  width: 1672px;
  height: 240px;
  border: 2px solid #646464;
  border-top: none;
  border-right: none;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 0 auto;
}
.main-visual .logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: inherit;
  position: relative;
  border-right: 2px solid #646464;
}
.main-visual .logo-box .logo img {
  width: 380px;
  height: 163px;
}
.main-visual .logo-box .logo svg {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 245px;
  height: 190px;
  mix-blend-mode: multiply;
  -webkit-animation: logo 3s infinite alternate;
          animation: logo 3s infinite alternate;
}
@-webkit-keyframes logo {
  0% {
    fill: #FF9BBE;
  }
  50% {
    fill: #B4E1FF;
  }
  100% {
    fill: #87E1D7;
  }
}
@keyframes logo {
  0% {
    fill: #FF9BBE;
  }
  50% {
    fill: #B4E1FF;
  }
  100% {
    fill: #87E1D7;
  }
}
.main-visual .logo-box .logo-explain {
  padding: 0 25px;
}
.main-visual .logo-box .logo-explain strong {
  font-weight: 500;
}
.main-visual .logo-box #wave {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}
.main-visual .logo-box .explain-line {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.main-visual .inner {
  padding: 145px 0;
  border-left: 2px solid #646464;
  background: url(/image/main-circle-bg01.svg) no-repeat left bottom;
}
.main-visual .inner .main-text-box h2 {
  margin-left: -10px;
  font-size: 100px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.main-visual .inner .main-text-box .text-point {
  position: relative;
}
.main-visual .inner .main-text-box .text-point::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 80px;
  background: url(/image/main-point-figure.svg) no-repeat;
  left: 575px;
  bottom: 5px;
  z-index: -5;
}
.main-visual .inner .main-text-box .text-mask {
  -webkit-clip-path: inset(0% 0% 0% 0.8%);
          clip-path: inset(0% 0% 0% 0.8%); /* 사각형 영역 */
  margin-top: 135px;
}

.circle-flower {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  padding-right: 50px;
  position: absolute;
  right: 45px;
  top: calc(100% + 90px);
}
.circle-flower img {
  display: block;
  transform-origin: 50% 50%;
  -webkit-animation: circle-flower 5s linear infinite;
          animation: circle-flower 5s linear infinite;
}

@-webkit-keyframes circle-flower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-flower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profile-wrap {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background: url(/image/profile-bg.png) no-repeat left top;
  border: 2px solid #646464;
  border-top: none;
  border-bottom: none;
}
.profile-wrap .photo-box {
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 565px;
}
.profile-wrap .photo-box .photo-txt {
  font-size: 30px;
  font-weight: 400;
  padding: 0 20px;
  text-align: center;
}
.profile-wrap .infomation {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.profile-wrap .infomation .info-card {
  padding: 45px;
  height: 550px;
  background: #FFFFFF;
  border: 2px solid #646464;
  border-bottom: none;
  border-left: none;
}
.profile-wrap .infomation .info-card:nth-child(2n) {
  border-right: none;
}
.profile-wrap .infomation .info-card .profile-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-wrap .infomation .info-card .profile-desc .description {
  display: flex;
  gap: 20px;
}
.profile-wrap .infomation .info-card .profile-desc .description .subtitle {
  font-size: 30px;
  font-weight: 500;
  color: #735A96;
}
.profile-wrap .infomation .info-card .profile-desc .description .desc {
  display: flex;
  font-size: 30px;
  font-weight: 400;
}
.profile-wrap .infomation .info-card .profile-desc .description-long {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-wrap .infomation .info-card .profile-desc .description-long .subtitle {
  font-size: 30px;
  font-weight: 500;
  color: #735A96;
}
.profile-wrap .infomation .info-card .profile-desc .description-long .desc {
  display: flex;
  font-size: 30px;
  font-weight: 400;
}

.stack {
  width: 1673px;
  padding: 45px;
  border: 2px solid #646464;
  position: relative;
}
.stack #wave02 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -20;
}
.stack .stack-line {
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: -10;
}
.stack .inner {
  padding-left: 160px;
  align-items: flex-start;
  flex-direction: column;
}
.stack .inner .icon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.project {
  width: 1440px;
  margin: 0 auto;
  border: 2px solid #646464;
  border-block: none;
  position: relative;
  background: #FFFFFF;
}
.project .inner {
  border-bottom: 2px solid #646464;
  padding: 50px 50px 0px 50px;
  align-items: flex-start;
  flex-direction: column;
}
.project .inner .tab-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.project .inner .tab-box .tab {
  font-size: 30px;
  font-weight: 500;
  color: #646464;
  flex: 1;
  padding: 15px 50px;
  text-align: center;
  background: #FAFAFA;
  border: 2px solid #646464;
  transition: color 0.3s ease, background-color 0.5s ease;
}
.project .inner .tab-box .tab:hover, .project .inner .tab-box .tab.active {
  color: #FFFFFF;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.project .inner .tab-box .tab:nth-child(1):hover, .project .inner .tab-box .tab:nth-child(1).active {
  background: #A573DC;
}
.project .inner .tab-box .tab:nth-child(2):hover, .project .inner .tab-box .tab:nth-child(2).active {
  background: #FF649B;
}
.project .inner .tab-box .tab:nth-child(3):hover, .project .inner .tab-box .tab:nth-child(3).active {
  background: #69AAFA;
}
.project .inner .tab-box .tab:nth-child(4):hover, .project .inner .tab-box .tab:nth-child(4).active {
  background: #69D791;
}
.project .project-card-wrap {
  width: 100%;
  /* 카드 호버 시 더 보기 버튼 */
}
.project .project-card-wrap .project-card {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #646464;
}
.project .project-card-wrap .project-card:last-child {
  border-bottom: none;
}
.project .project-card-wrap .project-card .card-left {
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.project .project-card-wrap .project-card .card-left .card-title {
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}
.project .project-card-wrap .project-card .card-left .card-desc {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #333333;
}
.project .project-card-wrap .project-card .card-left .card-responsive {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #735A96;
}
.project .project-card-wrap .project-card .card-left .card-icon-box {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.project .project-card-wrap .project-card .card-left .card-icon-box .card-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project .project-card-wrap .project-card .card-left .card-icon-box .card-icon img {
  width: 40px;
  height: 40px;
}
.project .project-card-wrap .project-card .card-left .card-icon-box .card-icon .icon-line {
  display: flex;
  gap: 10px;
}
.project .project-card-wrap .project-card .card-left .card-icon-box .card-more {
  align-self: flex-end;
}
.project .project-card-wrap .project-card .card-left .card-icon-box .card-more img {
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.project .project-card-wrap .project-card .card-right {
  flex: 2;
  border-left: 2px solid #646464;
  overflow: hidden;
}
.project .project-card-wrap .project-card .card-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.project .project-card-wrap .project01:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project02:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project03:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project04:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project05:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project06:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project07:hover .card-left .card-icon-box .card-more img, .project .project-card-wrap .project08:hover .card-left .card-icon-box .card-more img {
  transform: rotate(90deg);
}

.project-flower {
  position: absolute;
  top: 30vh;
  left: -200px;
  overflow: hidden;
  z-index: -10;
}
.project-flower img {
  display: block;
  transform-origin: 50% 50%;
  -webkit-animation: projectflower 5s linear infinite;
          animation: projectflower 5s linear infinite;
}

@-webkit-keyframes projectflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes projectflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.blank {
  width: 100%;
  height: 220px;
  border: 2px solid #646464;
  border-left: none;
  border-right: none;
  overflow-x: hidden;
}
.blank .blank-track {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.blank .blank-track .blank-box {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  gap: 30px;
}
.blank .blank-track .blank-box .blank-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 500;
  color: #BEBEBE;
}
.blank .blank-track .blank-box .blank-flower {
  margin-top: 5px;
  overflow: hidden;
}
.blank .blank-track .blank-box .blank-flower img {
  display: block;
  transform-origin: 50% 50%;
  -webkit-animation: blankflower 5s linear infinite;
          animation: blankflower 5s linear infinite;
}
.blank .blank-track .blank-box:last-child {
  margin-left: 30px;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes blankflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blankflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  padding: 45px 0;
  border-bottom: 2px solid #646464;
}
.footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-wrap p {
  font-size: 40px;
  font-weight: 500;
  color: #646464;
}

/* 탭 버튼 부분 active */
.project-card-wrap {
  display: none;
}

#development.active, #design.active, #branding.active, #intro.active {
  display: block;
}

/* ⭐팝업창⭐*/
.popup-area {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popup-area .popup {
  width: 1440px;
  height: 805px;
  border: 2px solid #646464;
  background: #FFFFFF;
  display: flex;
  position: relative;
}
.popup-area .popup .popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.popup-area .popup .popup-left {
  overflow-y: auto;
}
.popup-area .popup .popup-left video {
  width: 960px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 14%;
}
.popup-area .popup .popup-left img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup-area .popup .popup-left::-webkit-scrollbar {
  width: 20px;
  background: #FFFFFF;
  border: 2px solid #646464;
}
.popup-area .popup .popup-left::-webkit-scrollbar-thumb {
  background: #A573DC;
  border: 2px solid #646464;
}
.popup-area .popup .popup-right {
  margin-top: 50px;
  border-top: 2px solid #646464;
  flex: 1;
}
.popup-area .popup .popup-right .popup-content-wrap {
  border-bottom: 2px solid #646464;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content .popup-title {
  font-size: 30px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content .popup-desc {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content .popup-desc .popup-desc-txt {
  font-size: 25px;
  font-weight: 400;
  color: #333333;
  display: flex;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content p {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  text-align: justify;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-content p:nth-child(2) {
  padding: 15px 0;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-use-program .popup-icon-wrap {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.popup-area .popup .popup-right .popup-content-wrap .popup-use-program .popup-icon-wrap .popup-icon img {
  width: 40px;
  height: 40px;
}
.popup-area .popup .popup-right .popup-explain-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 275px;
  border-bottom: 2px solid #646464;
}
.popup-area .popup .popup-right .popup-explain-wrap .popup-explain {
  width: inherit;
  display: flex;
  flex-direction: column;
  padding: 10px 35px;
  gap: 20px;
}
.popup-area .popup .popup-right .popup-explain-wrap .popup-explain p {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  text-align: justify;
}
.popup-area .popup .popup-button-wrap {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.popup-area .popup .popup-button-wrap .button-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.popup-area .popup .popup-button-wrap .button-box .popup-btn {
  font-size: 20px;
  font-weight: 500;
  color: #646464;
  padding: 10px 0px;
  border: 2px solid #646464;
}
.popup-area .popup .popup-button-wrap .button-box .popup-btn:hover {
  background: #FD5087;
  color: #FFFFFF;
}
.popup-area .popup .popup-button-wrap .button-box .site-shortcut {
  background: #E1DCFF;
}
.popup-area .popup .popup-button-wrap .popup-btn:only-child {
  grid-column: 1/-1;
  justify-self: center;
  width: 50%;
}

/* 팝업 공통 부분 */
.popup-desc-title {
  font-size: 25px;
  font-weight: 500;
  color: #735A96;
}